<style>
table {
    border-collapse: collapse;
    width: 100%;.
}

th, td {
    text-align: left;
    padding: 8px;
}

 tr:nth-child(even){background-color: #f2f2f2} 

th {
    background-color: #0f1d79;
    color: white;
}
/* tr:hover{background-color:#2196F3} */
</style>

<div id="top">
<div class="wrapper row1" id="htmlheader" style="position: fixed;top: 0;right: 0;left: 0;width: 100%;z-index: 1030">
<!-- <div ng-include="'header.html'"></div> -->
<header id="fh5co-header" role="banner" >
		<nav class="navbar navbar-default" role="navigation" >
			<div class="container-fluid">
				<div class="navbar-header"> 
				<!-- Mobile Toggle Menu Button -->
				<a class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
				<a class="navbar-brand" href="#/">Remote QA Mentors
				<!-- <img src="images/demo/backgrounds/logo123.jpg" alt="logo"  class="img-responsive img-rounded"/> -->
				</a>
				</div>
				<div id="fh5co-navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="#/home" onclick="document.body.scrollTop = 0; document.documentElement.scrollTop = 0;"><span class="headerclass">Home<span class="border"></span></span></a></li>
					<li ><a href="#/aboutus" onclick="document.body.scrollTop = 0; document.documentElement.scrollTop = 0;"><span class="headerclass">About Us<span class="border"></span></span></a></li>
					<li><a href="#/freelancingcourse" onclick="document.body.scrollTop = 0; document.documentElement.scrollTop = 0;"><span class="headerclass">FreeLancing Course<span class="border"></span></span></a></li>
					<li><a href="#/recordedwebtraining" onclick="document.body.scrollTop = 0; document.documentElement.scrollTop = 0;"><span class="headerclass">Recorded Web Training<span class="border"></span></span></a></li>
					<li><a href="#/faq" onclick="document.body.scrollTop = 0; document.documentElement.scrollTop = 0;"><span class="headerclass">FAQ<span class="border"></span></span></a></li>
					<li><a href="#/contactus" onclick="document.body.scrollTop = 0; document.documentElement.scrollTop = 0;"><span class="headerclass">Contact Us<span class="border"></span></span></a></li>
					<li ><a href="#/requestfordemo" onclick="document.body.scrollTop = 0; document.documentElement.scrollTop = 0;"> <span class="headerclass">Demo Request<span class="border"></span></span></a></li> 
					</ul>
				</div>
			</div>
		</nav>
	</header>
</div>
<div ng-controller="RequestDetailsController">

<div class="wrapper bgded overlay light"  style="height: 100%;background-color: gray;">
<div class="container">
   <h2>Free lancing enrolled details </h2>
  <p>This will contain free lencing enrolled details for the period.</p>
  <form> 
   <div class="row" align="left">
   <div class="col-md-6" style="align: center"> 
    <div class="row">
   <div class="col-md-4" style="align: left;"> 
 <p> <span>From: </span> </p>
  </div>
  <div class="col-md-4" style="align: left;"> 
   <p><input type="date" name="bday" max="2979-12-31" ng-model="calfromfldate"/></p>
  </div>
  <div class="col-md-4" style="align: right;"> 
   <p><span> To: </span></p>
  </div>
  </div>
   </div>
   <div class="col-md-6"> 
    <div class="row">
 	 <div class="col-md-4" style="align: left;"> 
 	  <p> 
 	  <input type="date" name="bday" max="2979-12-31" ng-model="caltofldate"/></p>
 	 </div>
  	<div class="col-md-4" style="align: right;"> 
	   <p><input type="submit" name="submit" value="Search" style="color: #ffffff;background-color: #00ADEF;"/></p>
   </div>
   </div>
  </div>
  </div>
   </form>     
<div class="table-responsive">  

  <table class="table">
    <thead>
      <tr>
         <th>#</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Date</th>
        <th>User Comments</th>
        <th>Acceptor Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="freelancing in filteredFreeLancingData">
        <td>{{ freelancing.mnid }} </td>
        <td>{{ freelancing.mfirstname }}</td>
        <td>{{ freelancing.mlastname }}</td>
        <td>{{ freelancing.mphonenumber}}</td>
        <td>{{ freelancing.memail }}</td>
        <td>{{ freelancing.mcreatetime }}</td>
        <td>{{ freelancing.musercomments }}</td>
        <td><textarea rows="3" cols="15" ng-model="acceptorcomments">{{ freelancing.macceptorcomments }}</textarea> </td>
      </tr>
    </tbody>
  </table>
  </div>
 <div class="row" align="center">
  <div class="col-md-12" style="align: center"> 
  <pagination ng-model="freelancingCurrentPage" total-items="freelancingdata.length" max-size="freelancingMaxSize" boundary-links="true"> </pagination> 
  </div>
  </div>
<div class="row" style="width: 20px;"></div>
  <h2>Live web enrolled details </h2>
  <p>This will contain live web enrolled details for the period.</p> 
<div class="table-responsive">          
  <table class="table" >
    <thead>
      <tr>
        <th>#</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Date</th>
        <th>User Comments</th>
        <th>Acceptor Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="livedata in filteredlivewebData">
         <td>{{ livedata.mnid }} </td>
        <td>{{ livedata.mfirstname }}</td>
        <td>{{ livedata.mlastname }}</td>
        <td>{{ livedata.mphonenumber}}</td>
        <td>{{ livedata.memail }}</td>
        <td>{{ livedata.mcreatetime }}</td>
        <td>{{ livedata.musercomments }}</td>
        <td><textarea rows="3" cols="15" ng-model="acceptorcomments">{{ livedata.macceptorcomments }}</textarea> </td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="row" align="center">
  <div class="col-md-12" style="align: center"> 
  <pagination ng-model="livewebCurrentPage" total-items="liewebdata.length" max-size="livewebMaxSize" boundary-links="true"> </pagination> 
  </div>
  </div>
  <div class="row" style="width: 20px;"></div>
  <h2>Request For Demo details </h2>
  <p>This will contain request for demo details for the period.</p> 
<div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Date</th>
        <th>User Comments</th>
        <th>Acceptor Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="requesteddata in filteredRequestedData">
        <td>{{ requesteddata.mnid }} </td>
        <td>{{ requesteddata.mfirstname }}</td>
        <td>{{ requesteddata.mlastname }}</td>
        <td>{{ requesteddata.mphonenumber}}</td>
        <td>{{ requesteddata.memail }}</td>
        <td>{{ requesteddata.mrequesttime }}</td>
        <td>{{ requesteddata.musercomments }}</td>
        <td><textarea rows="3" cols="15" ng-model="acceptorcomments">{{ requesteddata.macceptorcomments }}</textarea> </td>
      </tr>
    </tbody>
  </table>
  
  </div>
  <div class="row" align="center">
  <div class="col-md-12" style="align: center"> 
  <pagination ng-model="requestedCurrentPage" total-items="reqdata.length" max-size="requestedMaxSize" boundary-links="true"> </pagination> 
  </div>
  </div>
<div class="row" style="width: 20px;"></div>
 <h2>Suggestion details </h2>
  <p>This will contain suggestion details for the period.</p> 
<div class="table-responsive">          
  <table class="table" >
    <thead>
      <tr>
       <th>#</th>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Date</th>
        <th>User Comments</th>
        <th>Acceptor Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="suggestion in filteredSuggestionData">
        <td>{{ suggestion.mnid }} </td>
        <td>{{ suggestion.mfirstname }}</td>
        <td>{{ suggestion.mphonenumber}}</td>
        <td>{{ suggestion.memail }}</td>
        <td>{{ suggestion.mcreatetime }}</td>
        <td>{{ suggestion.musercomments }}</td>
        <td><textarea rows="3" cols="15" ng-model="acceptorcomments">{{ suggestion.macceptorcomments }}</textarea> </td>
      </tr>
    </tbody>
  </table>
  </div>
   <div class="row" align="center">
  <div class="col-md-12" style="align: center"> 
  <pagination ng-model="suggestionCurrentPage" total-items="suggestiondata.length" max-size="suggestionMaxSize" boundary-links="true"> </pagination> 
  </div>
  </div>
    <div class="row" style="width: 20px;"></div>
</div>
</div>
<div class="wrapper row4" style="z-index: 1032;">
 <div ng-include="'footer.html'"></div>
</div>
</div>
<a id="backtotop" onclick="document.body.scrollTop = 0; document.documentElement.scrollTop = 0;"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
</div>