<div id="top">
<div class="wrapper row1" id="htmlheader" style="position: fixed;top: 0;right: 0;left: 0;width: 100%;z-index: 1030">
<!-- header contents start here -->
<div ng-include="'header.html'"></div>
</div>
<div ng-controller="DemoRequestController">

<div class="wrapper bgded overlay light"  style="height: 100%;">
  <main class="hoc container clear"> 
    <!-- main body -->
    <div class="two_third first"> 
      <div id="comments">
      <form ng-submit="demoRequest()">
      <div >
         <fieldset>
         <h3><i class="fa fa-envelope" style="color: rgb(68, 68, 68); font-size: 24px !important; margin-right: 6px;"><span style="font-weight: bold;"> Request for a Demo</span></i></h3>
         <label style="color: blue; font-weight: bold; display: none;" id="divreqconfirmaton">{{ ConfirmationMessage }}</label>
         <input class="btmspace-15" type="text" value="" name="firstname" id="firstname" ng-model="firstname" placeholder="First Name *" style="font-weight: bold;" required>
         <input class="btmspace-15" type="text" name="lastname" id="lastname" value="" size="40" ng-model="lastname" placeholder="Last Name *" style="font-weight: bold;" required>
         <input class="btmspace-15" type="email" name="usermail" id="usermail" value="" ng-model="usermail" placeholder="Mail*" style="font-weight: bold;" required>
         <input class="btmspace-15" type="number" name="phonenumber" id="phonenumber" value="" ng-model="phone" placeholder="Phone No.*" style="font-weight: bold;" required>
         <textarea class="btmspace-15" name="comment" id="comment" cols="25" rows="10" maxlength="2000" ng-model="usercomments" style="font-weight: bold;" placeholder="Your Comment" required></textarea>
         <div align="right"> <input type="submit" name="submit" value="Submit" style="color: #ffffff;background-color: #00ADEF;"/>&nbsp;
         <input type="reset" name="reset" value="Cancel" style="color: #ffffff;background-color: #00ADEF;"/></div>
         </fieldset>
          </div>
          </form>
      </div>
    </div>
    
    <div class="content one_third"> 
    <div >  <h3 style="font-weight: bold;">Contact Details</h3></div>
      <div>
      <nav class="sdb_holder">
       <ul class="nospace">
       <li> <span style="font-weight: bold;"> Name: Sumith Jain </span></li>
        <li><span style="font-weight: bold;">Contact Number: +1- 609-613-7893</span></li>
        <li><span style="font-weight: bold;">Email: support@remoteqamentors.com</span></li>
      </ul>
      </nav>
      <p style="font-weight: bold; color: orange;"> Note: Mentorship program available only for people living in USA & Canada.</p>
      </div>
    </div>
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
</div>
<!-- <div class="wrapper row1" id="htmlfooter" style="bottom: 0px; position: fixed;">
footer contents start here
<div ng-include="'footer.html'"></div>
</div> -->
<a id="backtotop" onclick="document.body.scrollTop = 0; document.documentElement.scrollTop = 0;"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
</div>